<tc-card [title]="'Default'">
  <tc-v-timeline [data]="data"></tc-v-timeline>
</tc-card>

<tc-card [title]="'Dots'">
  <tc-v-timeline [data]="data" [showIcons]="false"></tc-v-timeline>
</tc-card>

<tc-card [title]="'With labels'">
  <tc-v-timeline [data]="data" [showLabels]="true"></tc-v-timeline>
</tc-card>

<tc-card [title]="'Right align'">
  <tc-v-timeline [data]="data" [align]="'right'"></tc-v-timeline>
</tc-card>

<tc-card [title]="'Center align'">
  <tc-v-timeline [data]="data" [align]="'center'"></tc-v-timeline>
</tc-card>

<tc-card [title]="'Between align'" class="mb-0">
  <tc-v-timeline [data]="data" [align]="'between'"></tc-v-timeline>
</tc-card>
