<div class="row">
  <div class="col-12 col-md-4">
    <tc-card [tcBgColor]="'#fbfbfb'" [title]="'Personal'" [align]="'center'" class="mb-md-0">
      <div class="d-flex justify-content-center align-items-center">
        <div class="mr-2" [tcFontSize]="50">39</div>
        <div [tcColor]="'#8f8f90'">
          <div [tcFontSize]="20">USD</div>
          <div>month</div>
        </div>
      </div>

      <hr class="mt-4 mb-4">

      <ul class="list-unstyled text-left">
        <li class="d-flex align-items-center pt-2 pb-2">
          <tc-icon [iconClass]="'icofont-check-circled'" [tcColor]="'#8f8f90'"></tc-icon>
          <span class="ml-1">1GB Disk Space</span>
        </li>
        <li class="d-flex align-items-center pt-2 pb-2">
          <tc-icon [iconClass]="'icofont-check-circled'" [tcColor]="'#8f8f90'"></tc-icon>
          <span class="ml-1">10GB Monthly Bandwith</span>
        </li>
        <li class="d-flex align-items-center pt-2 pb-2">
          <tc-icon [iconClass]="'icofont-check-circled'" [tcColor]="'#8f8f90'"></tc-icon>
          <span class="ml-1">2 Email Accounts</span>
        </li>
        <li class="d-flex align-items-center pt-2 pb-2">
          <tc-icon [iconClass]="'icofont-check-circled'" [tcColor]="'#8f8f90'"></tc-icon>
          <span class="ml-1">Unlimited Subdomains</span>
        </li>
        <li class="d-flex align-items-center pt-2 pb-2">
          <tc-icon [iconClass]="'icofont-close-circled'" [tcColor]="'#8f8f90'"></tc-icon>
          <span class="ml-1">Free support</span>
        </li>
      </ul>

      <button tc-button [view]="'success'" [block]="true" class="mb-3">Purchase now</button>
    </tc-card>
  </div>

  <div class="col-12 col-md-4">
    <tc-card [tcBgColor]="'#f6fafd'" [title]="'Developers'" [align]="'center'" class="mb-md-0">
      <div class="d-flex justify-content-center align-items-center">
        <div class="mr-2" [tcFontSize]="50" [tcColor]="'#336cfb'">59</div>
        <div [tcColor]="'#8f8f90'">
          <div [tcFontSize]="20">USD</div>
          <div>month</div>
        </div>
      </div>

      <hr class="mt-4 mb-4">

      <ul class="list-unstyled text-left">
        <li class="d-flex align-items-center pt-2 pb-2">
          <tc-icon [iconClass]="'icofont-check-circled'" [tcColor]="'#8f8f90'"></tc-icon>
          <span class="ml-1">5GB Disk Space</span>
        </li>
        <li class="d-flex align-items-center pt-2 pb-2">
          <tc-icon [iconClass]="'icofont-check-circled'" [tcColor]="'#8f8f90'"></tc-icon>
          <span class="ml-1">25GB Monthly Bandwith</span>
        </li>
        <li class="d-flex align-items-center pt-2 pb-2">
          <tc-icon [iconClass]="'icofont-check-circled'" [tcColor]="'#8f8f90'"></tc-icon>
          <span class="ml-1">5 Email Accounts</span>
        </li>
        <li class="d-flex align-items-center pt-2 pb-2">
          <tc-icon [iconClass]="'icofont-check-circled'" [tcColor]="'#8f8f90'"></tc-icon>
          <span class="ml-1">Unlimited Subdomains</span>
        </li>
        <li class="d-flex align-items-center pt-2 pb-2">
          <tc-icon [iconClass]="'icofont-close-circled'" [tcColor]="'#8f8f90'"></tc-icon>
          <span class="ml-1">Free support</span>
        </li>
      </ul>

      <button tc-button [view]="'accent'" [block]="true" class="mb-3">Purchase now</button>
    </tc-card>
  </div>
  <div class="col-12 col-md-4">
    <tc-card [tcBgColor]="'#fbfbfb'" [title]="'Premium'" [align]="'center'" class="mb-md-0">
      <div class="d-flex justify-content-center align-items-center">
        <div class="mr-2" [tcFontSize]="50">99</div>
        <div [tcColor]="'#8f8f90'">
          <div [tcFontSize]="20">USD</div>
          <div>month</div>
        </div>
      </div>

      <hr class="mt-4 mb-4">

      <ul class="list-unstyled text-left">
        <li class="d-flex align-items-center pt-2 pb-2">
          <tc-icon [iconClass]="'icofont-check-circled'" [tcColor]="'#8f8f90'"></tc-icon>
          <span class="ml-1">10GB Disk Space</span>
        </li>
        <li class="d-flex align-items-center pt-2 pb-2">
          <tc-icon [iconClass]="'icofont-check-circled'" [tcColor]="'#8f8f90'"></tc-icon>
          <span class="ml-1">100GB Monthly Bandwith</span>
        </li>
        <li class="d-flex align-items-center pt-2 pb-2">
          <tc-icon [iconClass]="'icofont-check-circled'" [tcColor]="'#8f8f90'"></tc-icon>
          <span class="ml-1">20 Email Accounts</span>
        </li>
        <li class="d-flex align-items-center pt-2 pb-2">
          <tc-icon [iconClass]="'icofont-check-circled'" [tcColor]="'#8f8f90'"></tc-icon>
          <span class="ml-1">Unlimited Subdomains</span>
        </li>
        <li class="d-flex align-items-center pt-2 pb-2">
          <tc-icon [iconClass]="'icofont-check-circled'" [tcColor]="'#8f8f90'"></tc-icon>
          <span class="ml-1">Free support</span>
        </li>
      </ul>

      <button tc-button [view]="'success'" [block]="true" class="mb-3">Purchase now</button>
    </tc-card>
  </div>
</div>
