<div class="row">
  <div class="col-12 col-md-6">
    <tc-card [title]="'Basic'">
      <tc-form-group>
        <nz-date-picker [(ngModel)]="date" (ngModelChange)="onChange($event)"></nz-date-picker>
      </tc-form-group>

      <tc-form-group>
        <nz-month-picker
          [(ngModel)]="date"
          (ngModelChange)="onChange($event)"
          nzPlaceHolder="Select month"
        ></nz-month-picker>
      </tc-form-group>

      <tc-form-group>
        <nz-year-picker [(ngModel)]="date" (ngModelChange)="onChange($event)" nzPlaceHolder="Select year"></nz-year-picker>
      </tc-form-group>

      <tc-form-group>
        <nz-range-picker [(ngModel)]="dateRange" (ngModelChange)="onChange($event)"></nz-range-picker>
      </tc-form-group>

      <tc-form-group class="mb-0">
        <nz-week-picker [(ngModel)]="date" (ngModelChange)="onChange($event)" nzPlaceHolder="Select week"></nz-week-picker>
      </tc-form-group>
    </tc-card>
  </div>

  <div class="col-12 col-md-6">
    <tc-card [title]="'Three sizes'">
      <tc-form-group>
        <tc-radio [(ngModel)]="size" [value]="size" [direction]="'horizontal'">
          <tc-radio-option [value]="'large'">Large</tc-radio-option>
          <tc-radio-option [value]="'default'">Default</tc-radio-option>
          <tc-radio-option [value]="'small'">Small</tc-radio-option>
        </tc-radio>
      </tc-form-group>

      <tc-form-group>
        <nz-date-picker [nzSize]="size"></nz-date-picker>
      </tc-form-group>

      <tc-form-group>
        <nz-month-picker [nzSize]="size" nzPlaceHolder="Select Month"></nz-month-picker>
      </tc-form-group>

      <tc-form-group>
        <nz-range-picker [nzSize]="size"></nz-range-picker>
      </tc-form-group>

      <tc-form-group class="mb-0">
        <nz-week-picker [nzSize]="size" nzPlaceHolder="Select Week"></nz-week-picker>
      </tc-form-group>
    </tc-card>
  </div>

  <div class="col-12 col-md-6">
    <tc-card [title]="'Disabled'">
      <tc-form-group>
        <nz-date-picker nzDisabled></nz-date-picker>
      </tc-form-group>

      <tc-form-group>
        <nz-month-picker nzDisabled></nz-month-picker>
      </tc-form-group>

      <tc-form-group class="mb-0">
        <nz-range-picker nzDisabled></nz-range-picker>
      </tc-form-group>
    </tc-card>
  </div>

  <div class="col-12 col-md-6">
    <tc-card [title]="'Date format'">
      <tc-form-group>
        <nz-date-picker [nzFormat]="'yyyy/MM/dd'"></nz-date-picker>
      </tc-form-group>

      <tc-form-group>
        <nz-month-picker [nzFormat]="'yyyy/MM'"></nz-month-picker>
      </tc-form-group>

      <tc-form-group class="mb-0">
        <nz-range-picker [nzFormat]="'yyyy/MM/dd'"></nz-range-picker>
      </tc-form-group>
    </tc-card>
  </div>

  <div class="col-12 col-md-6">
    <tc-card [title]="'Choose time'" class="mb-md-0">
      <tc-form-group>
        <nz-date-picker
          nzShowTime
          nzFormat="yyyy-MM-dd HH:mm:ss"
          nzPlaceHolder="Select Time"
          ngModel
          (ngModelChange)="onChange($event)"
          (nzOnOk)="onOk($event)"
        ></nz-date-picker>
      </tc-form-group>

      <tc-form-group class="mb-0">
        <nz-range-picker
          [nzShowTime]="{ nzFormat: 'HH:mm' }"
          nzFormat="yyyy-MM-dd HH:mm"
          [nzPlaceHolder]="['Start Time', 'End Time']"
          ngModel
          (ngModelChange)="onChange($event)"
          (nzOnOk)="onOk($event)"
        ></nz-range-picker>
      </tc-form-group>
    </tc-card>
  </div>

  <div class="col-12 col-md-6">
    <tc-card [title]="'Controlled Panels'" class="mb-0">
      <tc-form-group class="mb-0">
        <nz-date-picker
          [nzMode]="dateMode"
          nzShowTime
          (nzOnOpenChange)="handleDateOpenChange($event)"
          (nzOnPanelChange)="handleDatePanelChange($event)"
        >
        </nz-date-picker>
      </tc-form-group>
    </tc-card>
  </div>
</div>
