<tc-card [title]="'Simple'">
  <button tc-button (click)="openModal('Modal window text content')">Open modal</button>
</tc-card>

<tc-card [title]="'Multiplex content'">
  <div class="buttons-list">
    <button tc-button (click)="openModal(modalBody)">Multiplex body</button>
    <button tc-button (click)="openModal(modalBody, 'Modal title')">With header</button>
    <button tc-button (click)="openModal(modalBody, modalHeader)">With custom header</button>
    <button tc-button (click)="openModal(modalBody, null, 'Modal footer')">With footer</button>
  </div>
</tc-card>

<tc-card [title]="'Close options'">
  <div class="buttons-list">
    <button tc-button (click)="openModal(modalBody, 'Modal title')">Overlay close</button>
    <button tc-button (click)="openModal(modalBody, 'Modal title', null, { closeButton: true, overlayClose: false })">
      With close button
    </button>
    <button tc-button (click)="openModal(modalBody, 'Modal title', modalFooter, { overlayClose: false })">
      With custom close button
    </button>
  </div>
</tc-card>

<tc-card [title]="'Overlay'">
  <div class="buttons-list">
    <button tc-button (click)="openModal(modalBody, 'Modal title')">Default overlay</button>
    <button tc-button (click)="openModal(modalBody, 'Modal title', null, { overlay: false, closeButton: true })">
      Without overlay
    </button>
    <button tc-button (click)="openModal(modalBody, 'Modal title', null, { overlayClose: false, closeButton: true })">
      Overlay without close
    </button>
  </div>
</tc-card>

<tc-card [title]="'Width & height'" class="mb-0">
  <div class="buttons-list">
    <button tc-button (click)="openModal(modalBody, 'Modal title', null, { width: 300 })">Custom width</button>
    <button tc-button (click)="openModal(modalBody, 'Modal title', modalFooter, { width: '100%' })">Full width</button>
    <button tc-button (click)="openModal(modalBody, 'Modal title', null, { height: 400 })">Custom height</button>
  </div>
</tc-card>

<ng-container>
  <ng-template #modalHeader>
    <h2 class="title">Modal title</h2>
    <div class="actions">
      <tc-badge [view]="'warning'">New</tc-badge>
    </div>
  </ng-template>

  <ng-template #modalBody>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque eum eveniet fugiat fugit illum, natus porro
      possimus quisquam soluta vitae. Aperiam molestias quae quaerat quibusdam rerum voluptates! Aspernatur, magnam
      quas?</p>

    <tc-input [placeholder]="'Subscribe'"></tc-input>
  </ng-template>

  <ng-template #modalFooter>
    <div class="actions justify-content-between">
      <button tc-button [view]="'error'" (click)="closeModal()">Close</button>
      <button tc-button [view]="'success'">Submit</button>
    </div>
  </ng-template>
</ng-container>
