<tc-card [title]="'Basic'">
  <tc-form-group>
    <tc-switcher></tc-switcher>
  </tc-form-group>

  <tc-form-group>
    <tc-switcher>Switcher label</tc-switcher>
  </tc-form-group>

  <tc-form-group>
    <tc-switcher [value]="true">Checked</tc-switcher>
  </tc-form-group>

  <tc-form-group>
    <tc-switcher [disabled]="true">Disabled</tc-switcher>
  </tc-form-group>

  <tc-form-group class="mb-0">
    <tc-switcher [value]="true" [disabled]="true">Checked disabled</tc-switcher>
  </tc-form-group>
</tc-card>

<tc-card [title]="'Custom styles'">
  <tc-form-group>
    <tc-switcher
      [value]="true"
      [bgColor]="['transparent', '#transparent', '#b7ce63']"
      [borderColor]="['#b7ce63', '#b7ce63', '#b7ce63']"
      [color]="['#b7ce63', '#b7ce63', '#000']"
    >Label</tc-switcher>
  </tc-form-group>

  <tc-form-group>
    <tc-switcher
      [bgColor]="['transparent', '#transparent', '#64B5F6']"
      [borderColor]="['#64B5F6', '#64B5F6', '#64B5F6']"
      [color]="['#64B5F6', '#64B5F6', '#000']"
    >Label</tc-switcher>
  </tc-form-group>

  <tc-form-group>
    <tc-switcher
      [bgColor]="['#e9e165', '#e9e165', 'transparent']"
      [borderColor]="['#e9e165', '#e9e165', '#e9e165']"
      [color]="['#000', '#000', '#a6a048']"
    >Label</tc-switcher>
  </tc-form-group>

  <tc-form-group>
    <tc-switcher
      [bgColor]="['transparent', 'transparent', '#ed5564']"
      [borderColor]="['#ed5564', '#ed5564', '#ed5564']"
      [color]="['#ed5564', '#ed5564', '#fff']"
      [labelColor]="['#000', '#000', '#ed5564']"
    >Label</tc-switcher>
  </tc-form-group>

  <tc-form-group class="mb-0">
    <tc-switcher
      [value]="true"
      [disabled]="true"
      [bgColor]="['transparent', '#7ccee5', '#244ae5', '#7098fc']"
      [borderColor]="['#7ccee5', '#7ccee5', '#244ae5', '#7098fc']"
      [color]="['#fff', '#fff', '#b6d4ff', '#ccc']"
    >Label</tc-switcher>
  </tc-form-group>
</tc-card>

<tc-card [title]="'Forms'" class="mb-0">
  <div class="row">
    <div class="col-12 col-md-6 mb-4 mb-md-0">
      <form [formGroup]="reactiveForm" novalidate>
        <tc-form-group>
          <tc-form-label>Reactive form</tc-form-label>

          <tc-switcher formControlName="switcherField"></tc-switcher>
        </tc-form-group>
      </form>

      <tc-input [readonly]="true" [(ngModel)]="reactiveForm.value.switcherField"></tc-input>
    </div>

    <div class="col-12 col-md-6">
      <tc-form-group>
        <tc-form-label>Template driven form</tc-form-label>

        <tc-switcher #templateForm></tc-switcher>
      </tc-form-group>

      <tc-input [readonly]="true" [(ngModel)]="templateForm.value"></tc-input>
    </div>
  </div>
</tc-card>
